<div class="container mt-5 border-top">
  <app-sidebar></app-sidebar>
  <div class="my-3">
    <div class="col-6 mx-auto display-6">
      Création de compte médécin
    </div>
  </div>

  <form>
    <div class="col-md-6 col-md-6 mx-auto my-5">
      <div class="mb-3">
        <label for="first_name" class="form-label">Prénom</label>
        <input type="text" class="form-control" formControlname="first_name"

               name="first_name" id="first_name" placeholder="Votre prénom" required>

        <!-- <div *ngIf=" && f.first_name.errors" class="invalid-feedback">
          <div *ngIf="f.first_name.errors.required">
              Le champ prénom est réquis
          </div>
        </div> -->
      </div>
      <div class="mb-3">
        <label for="last_name" class="form-label">Nom de famille</label>
        <input type="text" class="form-control" formControlname="last_name"

        name="last_name" id="last_name" placeholder="Nom de famille" required>

        <!-- <div *ngIf=" && f.lastname.errors" class="invalid-feedback">
          <div *ngIf="f.last_name.errors.required">
              Le champ nom de famille est réquis
          </div>
        </div> -->
      </div>
      <div class="mb-3">
        <label for="last_name" class="form-label">Nom de famille</label>
        <input type="text" class="form-control" formControlname="last_name"

        name="last_name" id="last_name" placeholder="Nom de famille" required>

        <!-- <div *ngIf=" && f.lastname.errors" class="invalid-feedback">
          <div *ngIf="f.last_name.errors.required">
              Le champ nom de famille est réquis
          </div>
        </div> -->
      </div>
      <div class="mb-3">
        <label for="last_name" class="form-label">Nom de famille</label>
        <input type="text" class="form-control" formControlname="last_name"

        name="last_name" id="last_name" placeholder="Nom de famille" required>

        <!-- <div *ngIf=" && f.lastname.errors" class="invalid-feedback">
          <div *ngIf="f.last_name.errors.required">
              Le champ nom de famille est réquis
          </div>
        </div> -->
      </div>
      <div class="mb-3">
        <label for="last_name" class="form-label">Nom de famille</label>
        <input type="text" class="form-control" formControlname="last_name"

        name="last_name" id="last_name" placeholder="Nom de famille" required>

        <!-- <div *ngIf=" && f.lastname.errors" class="invalid-feedback">
          <div *ngIf="f.last_name.errors.required">
              Le champ nom de famille est réquis
          </div>
        </div> -->
      </div>
      <div class="mb-3">
        <label for="last_name" class="form-label">Nom de famille</label>
        <input type="text" class="form-control" formControlname="last_name"

        name="last_name" id="last_name" placeholder="Nom de famille" required>

        <!-- <div *ngIf=" && f.lastname.errors" class="invalid-feedback">
          <div *ngIf="f.last_name.errors.required">
              Le champ nom de famille est réquis
          </div>
        </div> -->
      </div>
      <div class="mb-3">
        <label for="last_name" class="form-label">Nom de famille</label>
        <input type="text" class="form-control" formControlname="last_name"

        name="last_name" id="last_name" placeholder="Nom de famille" required>

        <!-- <div *ngIf=" && f.lastname.errors" class="invalid-feedback">
          <div *ngIf="f.last_name.errors.required">
              Le champ nom de famille est réquis
          </div>
        </div> -->
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Téléphone</label>
        <input type="text" class="form-control"

        name="phone"  id="phone" placeholder="60606060" required>

        <!-- <div *ngIf=" && f.phone.errors" class="invalid-feedback">
          <div *ngIf="form['phone'].errors.required">
              Le champ Téléphone est réquis
          </div>
          <div *ngIf="f.phone.errors.minLenght">
              8 caractères minimum
          </div>
        </div> -->
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary">Créer</button>
      </div>
    </div>
  </form>
</div>
