

    <!-- Hotline Area Starts -->
    <section class="hotline-area text-center section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Numéro d'urgence</h2>
                    <span>(+223) – 79 38 74 23</span>
                    <p class="pt-3">Nous restons joignable 24/7 pour nos clients. N'hésiter pas de nous contacter <br>en cas d'urgence.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Hotline Area End -->