
    <!-- Header Area Starts -->
    <header class="header-area">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 d-md-flex">
                        <h6 class="mr-3"><span class="mr-2"><i class="fa fa-mobile"></i></span> Contacter nous! +223 79 38 74 23</h6>
                        <h6 class="mr-3"><span class="mr-2"><i class="fa fa-envelope-o"></i></span> info@ikeneya.com</h6>
                        <h6><span class="mr-2"><i class="fa fa-map-marker"></i></span> Bamako</h6>
                    </div>
                    <div class="col-lg-3">
                        <div class="social-links">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="header" id="home">
            <div class="container">
              <div class="row align-items-center justify-content-between d-flex">
              <div id="logo">
                  <a href="index.html"><img src="assets/images/logo/logo.png" alt="" title="" /></a>
              </div>
              <nav id="nav-menu-container">
                  <ul class="nav-menu">
                      <li class="menu-active"><a routerLink="/">Accueil</a></li>
                      <li><a href="/partenaires">Nos partenaires</a></li>
                      <li><a routerLink="nos-docteurs">doctors</a></li>
                      <li class="menu-has-children"><a routerLink="blog">blog</a>
                          <ul>
                              <li><a href="blog-home.html">Tous les blogs</a></li>
                              <li><a href="blog-details.html">blog details</a></li>
                          </ul>
                      </li>
                      <li><a routerLink="contact">Contact</a></li>
                      <li><a routerLink="abonnement">S'Abonner</a>
                          <!-- <ul>
                              <li><a href="about.html">Bronze</a></li>
                              <li><a href="elements.html">Silver</a></li>
                              <li><a href="elements.html">GOLD</a></li>
                          </ul> -->
                      </li>
                      <li><a [routerLink]="['connexion']" class="btn btn-primary btn-sm">Mon Compte</a></li>
                  </ul>
              </nav>
              </div>
          </div>
        </div>
    </header>
    <!-- Header Area End -->
